<%= link_to "Add a movie", new_list_bookmark_path(@list), class:"btn" %>
<%= link_to "Go to all lists", root_path, class:"btn"  %>

<div class="list-movies">
  <% @list.bookmarks.each do |bookmark| %>
     <div class="card-movie" style="background-image: url('<%= image_url(bookmark.movie.poster_url) %>')">
      <h2><%= bookmark.movie.title %></h2>
      <p><%= bookmark.comment %></p>
      <p><%= link_to "delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }  %></p>
    </div>
  <% end %>
</div>


