<h3><%=@list.name%></h3>

<div class="list-movies">
  <% @list.bookmarks.each do |bookmark| %>
  <div class="card-movie">
  <div><%= image_tag(bookmark.movie.poster_url) %></div>
  <div><%= bookmark.movie.title %></div>
  <div><%= bookmark.comment %></div>
  <div><%= link_to "delete", bookmark_path(bookmark), method: :delete,
                                                              data: { confirm: "Are you sure?" }  %></div>
<% end %>
</div>


<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
<%= link_to "Go to all lists", lists_path %>
